
@{
    ViewBag.Title = "Detail";
}

<h2 style="margin-top:150px;text-align:center;"><em>We Will Be Responding To You If You Meet Our Criteria And Fit For This Position. </em></h2>
<h3 style="margin-bottom:600px">  </h3>
