@model Vaago.Models.Chef

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-top:130px;text-align:center"><em>Want To Apply As A Chef In Our Restraunt Then Send Your Resume Throught This Link</em></h2>
<p style="margin-right:200px;text-align:center;color:red">
    @Html.ActionLink("Click Here", "Create")
</p>

<h3 style="margin-bottom:600px">  </h3>