
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section>
    <div>
        <span class="page-title"> DASHBOARD </span>
        <hr />
    </div>
    <div class="main-cont">
        <div class="dashboard-card">
            <div class="card-heading">
                <h4 class="card-title">Orders </h4>
            </div>
            <div class="card-body">
                <h2 class="card-body-value">1</h2>
            </div>
        </div>
        <div class="dashboard-card">
            <div class="card-heading">
                <h4 class="card-title">Menu </h4>
            </div>
            <div class="card-body">
                <h2 class="card-body-value">15</h2>
            </div>
        </div>
        <div class="dashboard-card">
            <div class="card-heading">
                <h4 class="card-title">Reservaion</h4>
            </div>
            <div class="card-body">
                <h2 class="card-body-value">Full</h2>
            </div>
        </div>

    </div>
</section>
